@import url(master.css);

nav {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 10px;
  background-color: #000000;
}

nav .navitem {
  display: flex;
  align-items: center;
}

nav .navitems {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo h1 {
  margin: 0 0 0 15px;
  font-size: 30px;
}

nav .logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
  border-radius: 0;
  transition: opacity 0.3s ease;
}

nav .logo a:hover {
  opacity: 0.8;
  background-color: transparent;
}

nav .logo a:visited {
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  transition: all 0.6s;
  padding: 10px 15px;
  border-radius: 9999px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s all;
}

nav a:visited {
  color: white;
}

nav img {
  height: 40px;
  transition: transform 0.6s ease;
}

nav .logo:hover img {
  transform: rotate(360deg);
}

nav .navitem a {
  position: relative;
  overflow: hidden;
}


nav a[selected] {
  background-color: transparent;
  text-decoration: none;
  color: white;
  filter: brightness(100%);
  border-bottom: 1px solid white;
  border-radius: 0;
}

nav .navitem a:hover:not([selected]) {
  background-color: transparent;
  text-decoration: none;
  color: white;
  filter: brightness(100%);
  transform: scale(1.1);
}

/*nav .navitem a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #0284d4;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  nav .navitem a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}*/

nav .navitem a:hover {
  text-decoration: none;
  filter: brightness(100%);
}

nav .navitem:not(:last-child) {
  margin-right: 20px;
}

nav .navitem a i {
  margin-right: 8px;
}

/*.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #0e1213;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: 0.6s opacity;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #0e1213 transparent;
}*/

.navitem a span {
  width: 0; /* Initial position outside the parent */
  opacity: 0; /* Initial opacity */
  transition: 0.3s all; /* Transition properties */
}

.navitem a:hover span {
  width: 100%; /* Slide in the span to the original position */
  opacity: 1; /* Fade in the span */
}
